<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<table class="table" >
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>created_at</th>
    <th>updated_at</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>

</table>
